Source: libxmlpl-cpp-standard
Section: unknown
Priority: optional
Maintainer: Joseph Coffland <joseph@xmlpl.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libbasicutils, libxmlpl-cpp-runtime, xmlplcc, cdbs, debhelper (>= 4.0)
Standards-Version: 3.6.2

Package: libxmlpl-cpp-standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbasicutils, libxmlpl-cpp-runtime
Description: xmlpl standard library
 *** Unofficial package from joseph@xmlpl.org ***
 .
 Standard library for xmlpl language.
 See xmlpl.org
